body{
    margin: 0;
    padding: 0;
}

.header{
    font-family: "Smythe", serif;
    padding: 46px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 600px;
    background-image: url(./header.png);
}

.title{
    margin: 0;
    font-size: 39px;
    color: white;
}

.sub-title{
    margin: 0;
    font-size: 22px;
    color: white;
}

.menu-lists{
    width: 508px;
    margin: 0 auto;
}

.menu{
    font-family: "Smythe", serif;
    padding: 46px 0;
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.menu-emoji{
    margin: 0;
    font-size: 78px;
}

.menu-detial{
    margin-right: auto;
    margin-left: 15px;
}
.menu-name{
    margin: 0 0 10px 0;
    font-size: 26px;
}

.menu-ingredients{
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #8B8B8B;
}

.menu-price{
    margin: 0;
    font-size: 20px;
}

.menu-add-btn{
    font-size: 32px;
    background-color: transparent;
    border: none;
}

.order-container{
    font-family: "Smythe", serif;
    width: 508px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 46px;
}

.order-heading{
    font-size: 28px;
}

.order-lists{
    border-bottom: 2px solid #393333;
}

.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.order-name{
    font-size: 28px;
    margin: 0;
}

.order-price{
    font-size: 20px;
    margin: 0;
}

.remove-btn{
    margin-right: auto;
    margin-left: 10px;
    font-size: 12px;
    color: #BBBBBB;
    border: none;
    background-color: transparent;
}

.order-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.total{
    font-size: 28px;
    margin: 0;
}

.total-price{
    font-size: 20px;
    margin: 0;
}

.complete-order-btn{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #16DB99;
    border: none;
    padding: 20px 0;
    width: 100%;
}

.hidden{
    display: none;
}
.payment-modal{
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 46px 0;
    width: 528px;
    height: 330px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 500px;
}

.modal-inner{
    width: 90%;
    margin: auto;
}

.payment-modal p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    margin: 20px 0;
    border: 1px solid #757575;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.pay-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    background-color: #16DB99;
    border: none;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
}

.thank-you-session{
    width: 508px;
    text-align: center;
    box-sizing: border-box;
    font-family: "Smythe", serif;
    font-size: 28px;
    background-color: #ECFDF5;
    color: #16DB99;
    padding: 25px;
    font-weight: bold;
    margin: 46px auto;
}

